body {
  background: rgb(45, 45, 45);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.btn {
  background: pink;
  margin: 20px;
}

.add-btn {
  background: lightblue;
  width: 40px;
  height: 40px;
}
.app-title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.container {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 25px;
  max-width: 600px;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
